/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;

}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin : 0px 0px;
    display: flex;
    justify-content: center;
    padding : 0px 50px;
}

.header{
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header--logo {
    width: 75px;
    height: auto;
    padding-top:15px;
}

.header--nav{
    padding-top:2px;
    width: 250px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header--nav > a{
    padding-top: 10px;
    border-top : 2px solid transparent;
}

.header--nav > a:hover{
    border-top : 2px solid #0065FC;
}

.header--logo_hebergements{
    color:#0065FC;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0px 0px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}


.title-h1 {
    font-size: 23px;
    margin: 10px 0;
    font-weight: 700;
    margin-top: 40px;
  }


/* etape 4 */
.formSearch{
    display : inline-flex;
    flex-direction: row;
    height: 53px; 
    border : none;
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2;
    border-radius: 10px;
    margin: 15px 0px;
    overflow: hidden;
}

.formSearch--pin{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: auto;
    background-color:#F2F2F2;
    border-radius: 14px 0 0 14px;
}

.fa-map-marker-alt{
    font-size:25px;
}

.formSearch--input{
    width: 200px;
}

.formSearch > input,
.formSearch > button {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    border : none;
}
    
.formSearch--input::placeholder{
    color: rgb(0, 0, 0);
}

.formSearch--input:focus{
    
    border: transparent;
    outline: none; 
    border: none;
}

.formSearch--input:focus::placeholder{
    color:rgb(218, 223, 216);
}

.formSearch--buttonDesktop{
width: 140px;
background-color: #0065FC;
color:#F2F2F2;
padding: 0px 15px;
border-radius : 0 15px 15px 0px;
}

.formSearch--buttonMobile{
    display: none;
}

.filters{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filters > .filters--h2,
.filters > .filters--ul > .filters--button{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.filters > .filters--h2{
    margin-right: 10px;
}

.filters--ul{
    display: flex;
    flex-direction: row;
    flex-wrap : wrap;
    justify-content: space-between;
    list-style-type: none;
    padding:0px;
}

.filters--button{
    border: rgb(218, 223, 216) solid 2px;
    border-radius: 30px;
    padding: 15px 20px 15px 20px;
    margin : 10px;
    /* letter-spacing: -1px;  */
}

.filters--button:hover{
    cursor: pointer;
    background-color:#DEEBFF;
}

.filters--button > i{
    margin: 0px 10px 0px 0px;
    color: #0065FC;
    font-size: 22px;
}

.info{
    display : inline-flex;
    flex-direction: row;
    margin: 10px 0px 30px 0px;
}

.info .fas {
    color: #0065fc;
    font-size: 15px;
    padding: 7px 11px 7px 11px;
    border: solid 1px #D9D9D9;
    border-radius: 2000px;
    margin-right: 20px;
  }

.info-p{
    margin: 5px 0px 0px 0px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.hebergements {
    width: 65%;
}

/* partie 6 */
.hebergements-title{
    margin-bottom: 25px;
}

.herbergements-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 30px;
} 

.herbergements-cards > a > .card > img{
    width : 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.herbergements-cards >a >.card>.card-content{
    margin-left: 15px;
    margin-bottom: 10px;
}

.card-txt > .card-title{
    margin: 5px 0px 0px 0px;
}

.card-txt > .card-subtitle{
    margin: 5px 0px;
}


.hebergements > div > h3{
    margin-top:25px;
    margin-bottom: 0px;
}

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.activities{
    margin: 20px 20px 0px 20px;
    display: flex;
    flex-direction : column;
    padding: 0px 5px;
}

.activities--cards{
    height: 465px;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 35px;
    margin-bottom: 70px;

}
.activities--cards--card {
    position: relative;
    border-radius: 15px;
}

.activities--cards--card::before,
.activities--cards--card::after {
    content: "";
    position: absolute;
    width: calc(100% + 0px);
    height: calc(100% + 0px);
    top: -0px;
    left: -0px;
    z-index: -1;
    border-radius: 15px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.activities--cards--card_img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    background-color: #F2F2F2;
    padding: 0px 20px;
}

.footer--apropos_title{
    font-size: 20px;
    margin-bottom: 10px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    body{
        padding: 0px 35px;
    }

    p{
        font-size: 13px;
    }

    .header{
        font-size: 12px
    }

    .header--nav{
        width: 180px;
    }

    .header--logo {
        width: 50px;
        height: auto;
        padding-top:25px;
    }

    .title-h1{
        font-size: 17px;
    }

    .title-p{
        margin-top: 0px;
    }


    .formSearch{
        height: 40px;
    }

    .formSearch > input,
    .formSearch > button {
        font-size: 13px;
        font-weight: 700;
    }

    .formSearch--pin{
    width: 40px;}
    .fa-map-marker-alt{
        font-size:15px;
    }
    .formSearch--input{
        width: 150px;
    }
    .formSearch--buttonDesktop{
        width: 100px;}

    .filters{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .filters > .filters--h2{
        text-align: left;
        font-size: 14px;
    }

    .filters > .filters--ul > .filters--button{
        text-align: left;
        font-size: 12px;}

    .filters--ul{
        margin-top: 0px;
    }

    .filters--button{
        margin-left: 0px;
        margin-right: 15px;
        margin-top:0px;
        margin-bottom:0px;
        padding: 10px 15px;
    }
    
    .filters--button > i{
        font-size: 18px;   
    }
    
    .info .fas {
        font-size: 10px;
        padding: 4px 7px 4px 7px;
        margin-right: 10px;
      }
    .info-p{
        margin: 3px 0px 0px 0px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements-title  .section-title,
    .hebergements div h3{
        font-size: 16px;
    }

    .herbergements-cards > a > .card > img{
        width : 100%;
        height: 75px;
        object-fit: cover;
    }

    .herbergements-cards >a >.card>.card-content{
        margin-left: 5px;
        margin-bottom: 5px;
    }
    

    .herbergements-cards >a >.card>.card-content>.card-txt>.card-title,
    .herbergements-cards >a >.card>.card-content>.card-txt>.card-subtitle{
        font-size: 12px;
    }

   .card-rating{
        font-size: 14px;
    }
    

    .activities--cards--card_img{
        height : 150px; 
        width: 100%;
        object-fit: cover; 
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards >a > .card > img{
        height : 100px; 
        width : 60px;
    }

    .populaires-cards .card-title {
        font-size: 12px;
    }

    .populaires-cards .card-subtitle {
        font-size: 11px;
    }

    .activities{
        padding : 0px;
        height: 300px;
    }
    
    .activities--h2{
        font-size: 16px;
    }
    
    .activities--cards--card>img{
        height : 150px;
        width: 100%;
        object-fit: cover
    }
    .activities--cards--card_p{
        font-size: 12px;
    }

    .footer{
        grid-gap: 60px;
    }

    .footer--apropos_title{
        font-size: 14px;
    }

    .footer> div>p> a{
        font-size: 12px;;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    body{
        padding: 0px;
    }
        /* suite étape 9 */

    .header{
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }

    .header--logo{
        width: 130px;
        margin: 45px 0px;;
    }

    .header--nav{
        font-size: 32px;
        width: 100%;
    }

    .header--nav>a{
        width: 50%;
        text-align : center;
    }

    /* etape 3 bordure bleue mobile */
    .header--nav > a{
        padding-top: 10px;
        border-top : 2px solid transparent;
        border-bottom: 2px solid transparent ;
        padding-bottom: 25px;
    }
    
    .header--nav > a:hover{
        border-top : 2px solid transparent;
        border-bottom: 4px solid #0065FC ;
    
    }

    .title-h1, .title-p{
        margin: 20px 15px;
        padding: 0px 35px;}

    .title-h1{
        font-size: 46px;
    }

    .title-p{
        font-size: 32px;
    }

    .formSearch--buttonDesktop{
        display: none;
    }
            
    .formSearch--buttonMobile{
        display: initial;
        font-size: 24px;
        width: 60px;
        background-color: #0065FC;
        color:#F2F2F2;
        padding: 0px 15px;
        border-radius : 0px 10px 10px 0px;
    }

    .formSearch{
        height: 100px; 
        width:95%;
        border-radius: 35px;
        overflow: visible;
        padding: 0px 10px;
        margin-left: 10px;
    }
        
    .formSearch >*{
        width : 100%;
    }
        
    .formSearch--pin{
        width: 115px;
        height: auto;
        border-radius: 35px 0 0 35px;
    }
    
    .fa-map-marker-alt{
        font-size:36px;
    }
    
    .formSearch>input{
        width: auto;
        text-align:left;
        padding-left: 50px;
    }
    
    .formSearch > input,
    .formSearch > button {
        font-size: 36px;
    }

    .formSearch--buttonMobile {
        width: 100px;
        border-radius : 30px;
        filter: drop-shadow(3px 10px 5px rgba(0, 0, 0, 0.4));
    }
        
    .filters{
        padding : 0px 35px;
    }

    .filters > .filters--h2{
        font-size: 36px;
    }

    .filters > .filters--ul > .filters--button{
        font-size: 28px;

    }
        
    .filters--button{
        width: 40%;
        border-radius: 60px;
        border: rgb(218, 223, 216) solid 4px;
        padding: 20px 20px 20px 20px;
        margin : 15px 0px;
    }
    
    .filters--button:hover{
        cursor: pointer;
        background-color:#DEEBFF;
    }
    
    .filters--button > i{
        margin: 0px 20px 0px 0px;
        color: #0065FC;
        font-size: 42px;
        padding-left: 20px;
    }
    
    .info{
        padding: 0 50px;
    }

    .info .fas {
        color: #0065fc;
        font-size: 24px;
        padding: 10px 18px 10px 18px;
        border: solid 2px #D9D9D9;
        border-radius: 3000px;
        margin: 15px 15px 15px 0px;
        }
    
    .info-p{
        margin: 5px 0px 0px 0px;
        font-size: 32px;
    }


    .hebergements-and-populaires{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .hebergements-and-populaires section {
        padding: 30px 50px;
    border-radius: 0px;}


    .populaires{
        border-radius: 0px;
        width: 100%;
        padding : 0px 60px;

    }

    .section-title{
        font-size: 42px;
    }

    .fa-solid {
        font-size: 36px;
    }

    .populaires-cards{
        justify-content: center;
        flex-wrap: wrap;
    }

    .populaires-cards a{
        width : 100%;
        height: 300px;
        margin-bottom: 40px;
    }

    
    .populaires-cards >a > .card > img {
        width: 33%;
        height: 300px;
    }
    
    .populaires-cards .card-content {
        width: 67%;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }
    
    .populaires-cards .card-title {
        margin: 20px 10px 10px 20px;
        font-size: 32px;
    }
    
    .populaires-cards .card-subtitle {
        margin: 0 10px 0 20px;
        font-size: 28px;
    }

    .populaires-cards .card-rating {
        margin-bottom: 5px;
        font-size: 8px;
    }

    .card{
        padding: 10px;
        }
        .card .fa-star {
            font-size: 28px; 
        }
    
    .hebergements-and-populaires  .hebergements{
        background-color:white;
        }


    .herbergements-cards{
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }
        
    .hebergements-title  .section-title,
    .hebergements div h3{
        font-size: 32px;
    }
        
    .herbergements-cards > a{
        height: 410px;
    }
    .herbergements-cards > a > .card > img{
        width : 100%;
        height: 240px;
        object-fit: cover;
        margin-bottom: 10px;
    }
        
    .herbergements-cards >a >.card>.card-content{
        margin-left: 5px;
        margin-bottom: 5px;
   }

    .herbergements-cards >a >.card{
        height: 100%;
    }

    .herbergements-cards >a >.card>.card-content{
        height: 10px;
    }
            

    .herbergements-cards >a >.card>.card-content>.card-txt>.card-title,
    .herbergements-cards >a >.card>.card-content>.card-txt>.card-subtitle{
        font-size: 32px;
        margin-top: 10px;
        margin-left: 20px;
    }

    .herbergements-cards >a >.card>.card-content>.card-rating{
        margin: 25px 0px 0px 20px;
    }

    .hebergements div h3 {
        font-size: 36px;
        margin-top: 50px;
    }

    .activities{
        padding-top : 40px;
        height: 2200px;
        padding: 40px;
    }

    .activities--h2{
        font-size: 46px;
    }


    .activities--cards{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 100px;
    }

    .activities--cards--card{
        overflow: visible;
    }

    .activities--cards--card_img{
        height : 300px;
        width: 100%;
        object-fit: cover
    }
    .activities--cards--card_p{
        font-size: 32px;
        margin-left: 20px;
    }

    .footer{
        grid-template-columns: 1fr;
        background-color:#F2F2F2;
        grid-gap: 30px;
    }

    .footer--apropos_title{
        font-size: 36px;
        margin: 50px 0px 0px 50px;
    }

    .footer >div > p >a{
        font-size: 28px;
        margin: 50px 0px 0px 50px;
    }

    .footer >div > p{
        margin-bottom: 30px;
    }
}

/* Small devices (phones, less than 709px) */
@media (max-width: 709px) {



    .formSearch > input, .formSearch > button {
        font-size: 28px;
    }

    .filters > .filters--ul > .filters--button {
        font-size: 22px;
    }
    .filters--button > i {
        font-size: 32px;
    }     
}

/* Small devices (phones, less than 590px) */
@media (max-width: 590px) {
    
    .header--nav>.header--logo_hebergements { 
        text-align: start;
    padding-left: 25px;}

    .header--nav>.header--logo_activities { 
            text-align: end;
            padding-right: 25px;
    }
    .formSearch > input, .formSearch > button {
        font-size: 24px;
        font-weight: 600;
    }

    .filters > .filters--ul > .filters--button {
        font-size: 21px;
        width:37%;
    }
    .filters--button > i {
        font-size: 25px;
        padding-left: 0px;
    }  

    .info-p {
        margin: 5px 0px 0px 0px;
        font-size: 28px;
    }
}

/* Small devices (phones, less than 540px) */
@media (max-width: 540px) {
    .header--nav {
        font-size: 26px;
        width: 100%;
    }
    .header--nav>.header--logo_activities {
        padding-right: 5px;
    }
    .header--nav>.header--logo_hebergements {
        padding-left: 5px;
    }

    .formSearch {
        margin-left: 0px;
    }
    .title-h1 {
        font-size: 38px;
    }
    .title-p {
        font-size: 26px;
    }
    .formSearch > input, .formSearch > button {
        font-size: 20px;
    }

    .filters--ul {
        display: flex;
        flex-direction: column;
    }

    .filters--button {
        padding: 10px 0px 10px 10px;
    }

    .filters > .filters--h2 {
        font-size: 28px;
    }
    .filters > .filters--ul > .filters--button {
        font-size: 20px;
        width: 100%
    }
    .filters--button > i {
        font-size: 26px;
        margin-right: 10px;
    }
    .info {
        padding: 0 20px;
    }
    .info-p {
        font-size: 24px;
    }
    .herbergements-cards >a >.card>.card-content>.card-txt>.card-title, .herbergements-cards >a >.card>.card-content>.card-txt>.card-subtitle {
        font-size: 28px;
        margin-top: 10px;
        margin-left: 20px;
    }

    .populaires-cards .card-title {
        font-size: 28px;
        margin-left: 5px;
    }

    .populaires-cards .card-subtitle {
        font-size: 24px;
        margin-left:5px;
    }

    .activities {
        height: 2400px;
    }
}